body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    
}

header {
    background-color: #b6b3a0;
    padding: 1.5rem 2vw;
}
 header h1 {
    margin: 0;
     color: #4745eb;
}
 header p {
    margin: 0;
     color: #4745eb;
     letter-spacing: .8px;
}

/* Nav Stuff Here*/
nav {
    background-color: #ebd767
}
nav ul {
    list-style-type: none;
    padding: 0 .4vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: .85rem;
    text-decoration: none;
    color: #eb4534;
    font-weight: 700;
    display: block;
    padding: .65rem 1.6rem;
}
nav li.active a {
    background-color: #91ebbb;
    color: #eb4534;
}
nav a:hover {
    color: white;
}


/* Main Stuff Here*/
main{
    padding: .8rem 1.5vw;
}
main h1 {
    color: #eb4534;
}

main h2 {
    color: #4745eb;
    margin-bottom: .2rem;
}

main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 2vw;
    background-color: #efefef;
}

main dl dt {
    color: #b40412;
    font-weight: 700;
}
main dl dd {
    color: #4745eb;
    font-size: .6rem;
}

main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #ebd767;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #4745eb;
    border-radius: .5rem;
}

main a {
    color: #024873;
}
main a:hover {
    color: rgb(239,0,24);
}
figure.gaming {
    width: 10%;
    margin: 0 0 1 1;
    float: right;
}
figure.gaming img {
    width: 100%;
    height: auto;
}
figure.gaming figcaption {
    text-align: center;
    font-size: .55rem;
}

div.console {
    display: flex;
    flex-wrap: wrap;
}

div.console figure {
    margin: .5rem 2% 0 0;
}
div.console figcaption {
    text-align: center;
    font-size: .8rem;
    color: #4745eb;
}

.myForm fieldset {
    border: 1px solid #91ebbb;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm {
    color: #4745eb;
    font-size: .8rem;
}
.myForm {
    margin: .8rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea , .myForm [type=email] {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea, .myForm [type=email] 
{
    border: solid 1px #888;
    padding: .5rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(156, 51, 53,0.1)
}

.myForm [type=submit] {
    background-color: #4745eb;
    border: none;
    padding: 1 rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}

/* Footer Stuff Here*/
footer {
    background-color: #eaeaea;
    text-align: center;
    color: #4745eb;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #4745eb;
}